php_value display_errors On
Options -Indexes

ErrorDocument 404 /errors/404.php
ErrorDocument 403 /errors/403.php

RewriteEngine On

RewriteBase /

RewriteRule ^(dist|api|public|errors)/ - [L]

RewriteCond %{REQUEST_URI} !^/pages/
RewriteRule ^(.*)$ /pages/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]